{% extends 'quizzes/base.html' %}
{% load static %}

{% block title %}
Автор
{% endblock %}
{% block content %}
<div class="div_content">
    <div class="div_content1" id="page">

        <meta property="og:image" content="{% static '/uploads/users/65/100_1aecaa6dc330f4f.gif' %}">

        <div class="profile_ufin">
            <div class="profile_ufin1">
                <div class="gvvx">
                    <div class="gvvx1">
                        <div class="avatar_ogev" id="avatar_off">
                            <div class="avatar_ogev1">
                                <img src="{% static 'uploads/users/65/100_1aecaa6dc330f4f.gif' %}" class="avatar_ogev2">

                            </div>
                        </div>

                        <div class="px_if_count">
                            <div class="px_if_count1">
                                <div class="pc_ofc_kreck">
                                    <div class="pc_ofc_kreck1">
                                        <div class="pc_ofc_kreck2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round" class="icon_oc_count">
                                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="9" cy="7" r="4"></circle>
                                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                            </svg>
                                        </div>


                                        <div class="pc_ofc_kreck3">
                                            <name class="pc_ofc_kreck4">Friends</name>
                                        </div>

                                        <div class="pc_ofc_kreck5">
                                            <name class="pc_ofc_kreck6">4</name>
                                        </div>
                                    </div>
                                </div>

                                <div class="pc_ofc_kreck">
                                    <div class="pc_ofc_kreck1">
                                        <div class="pc_ofc_kreck2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round" class="icon_oc_count">
                                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                            </svg>
                                        </div>


                                        <div class="pc_ofc_kreck3">
                                            <name class="pc_ofc_kreck4">Gifts</name>
                                        </div>

                                        <div class="pc_ofc_kreck5">
                                            <name class="pc_ofc_kreck6">1</name>
                                        </div>
                                    </div>
                                </div>

                                <div class="pc_ofc_kreck">
                                    <div class="pc_ofc_kreck1">
                                        <div class="pc_ofc_kreck2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round" class="icon_oc_count"
                                                 color="%23616770">
                                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                            </svg>
                                        </div>

                                        <div class="pc_ofc_kreck3">
                                            <name class="pc_ofc_kreck4">Likes</name>
                                        </div>

                                        <div class="pc_ofc_kreck5">
                                            <name class="pc_ofc_kreck6">1.2K</name>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ivense_block ivense">
                    <div class="ivense1">
                        <div class="pibesqd">
                            <div class="pibesqd1">
                                <div class="cocles_fihes">
                                    <name class="cocles_fihes1">Автор</name>
                                </div>

                                <div class="cocles_fihesf_omn">
                                    <name class="cocles_fihesf_omn1">последний раз был сегодня в 18:02</name>
                                </div>
                            </div>
                        </div>

                        <div id="wall_records">
                            <div class="wallrecord" onmouseover="WallViews(147);" id="wall_record_147">
                                <div class="post_wall_user">
                                    <div class="post_wall_user1">
                                        <div class="head_post_wall_h1ox">
                                            <div class="head_post_wall_h1ox1">
                                                <div class="wall_avatar_post">
                                                    <div class="wall_avatar_post1">
                                                        <a href="{% url 'wall_user' %}">
                                                            <img class="wall_avatar_post2"
                                                                 src="{% static 'uploads/users/65/100_1aecaa6dc330f4f.gif' %}">
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="wall_nameDate_post">
                                                    <div class="wall_nameDate_post1">
                                                        <div class="wall_nameDate_post2">
                                                            <div class="wall_nameDate_post3">
                                                                <a href="{% url 'wall_user' %}">
                                                                    <name class="wall_nameDate_pos">Автор</name>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="wall_nameDate_post4">
                                                            <div class="wall_nameDate_post5">
                                                                <name class="wall_nameDate_pos1">Дата публикации</name>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="menu-oc_px-ismap4">
                                            <div class="text_xon">
                                                <div class="text_xon1" id="hide_wall_rec147">
                                                    <name class="text_xon2">Наблюдаю этот год за соц сетями. Например ВК
                                                        уже лютая помойка... Заходишь в комменты - одни боты,добавили
                                                        куча всего ненужного дерьма. ВК уже не отличается от соц сети
                                                        динозавровой эпохи Ок ру,и сам же становиться таким же. А ведь
                                                        это не удивительно. Все за что дотягивается лапа мейл ру,по
                                                        итогу становиться полным говном.
                                                        <name></name>
                                                    </name>
                                                </div>
                                                <a></a>
                                            </div>
                                        </div>

                                        <div class="menu-oc_px-ismap5">
                                            <div class="slideshow-container147">

                                            </div>
                                        </div>

                                        <div class="icon_head_likes_views">
                                            <div class="icon_head_likes_views1">
                                                <li class="icon_head_likes_views2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"
                                                         class="icon_head_likes_views3">
                                                        <g data-name="Layer 54" id="Layer_54">
                                                            <path class="cls-1"
                                                                  d="M16,28.72a3,3,0,0,1-2.13-.88L3.57,17.54a8.72,8.72,0,0,1-2.52-6.25,8.06,8.06,0,0,1,8.14-8A8.06,8.06,0,0,1,15,5.68l1,1,.82-.82h0a8.39,8.39,0,0,1,11-.89,8.25,8.25,0,0,1,.81,12.36L18.13,27.84A3,3,0,0,1,16,28.72ZM9.15,5.28A6.12,6.12,0,0,0,4.89,7a6,6,0,0,0-1.84,4.33A6.72,6.72,0,0,0,5,16.13l10.3,10.3a1,1,0,0,0,1.42,0L27.23,15.91A6.25,6.25,0,0,0,29,11.11a6.18,6.18,0,0,0-2.43-4.55,6.37,6.37,0,0,0-8.37.71L16.71,8.8a1,1,0,0,1-1.42,0l-1.7-1.7a6.28,6.28,0,0,0-4.4-1.82Z"></path>
                                                        </g>
                                                    </svg>

                                                    3

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="icon_head_likes_views3"
                                                         viewbox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                                    </svg>

                                                    11
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="wall_fast_block_147"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<input type="hidden" id="type_page" value="profile">-->
        <!--<input type="hidden" id="teckid" value="">-->
        <!--<input type="hidden" id="teck_prefix" value="">-->
        <!--<input type="hidden" id="typePlay" value="standart">-->

    </div>
</div>

{% endblock %}