.info_you_isdcswv{}

.info_you_isdcsw1v{}

.photos_messages_you{
    width: 100% !important;
    border-radius: 5px;
    margin: 0 0 !important;
    height: auto !important;
    float: none;
    aspect-ratio: auto 0 / 0;
    cursor: pointer;
}

.oacxz01{
    margin: 0 auto;
    width: 460px;
}

.oacxz012{}

.oacxz013{
    background: #fff;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.oacxz014{
    padding: 10px;
}

.oacxz015{
    color: cornflowerblue;
    font-family: cest;
}

.oacxz016{
    background: #fff;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.oacxz017{
    padding: 10px;
    text-align: center;
}

.oacxz018{
    font-size: 14px;
    font-family: 'cest';
    line-height: 27px;
}

.ncx-dxdxxxd {
    width: 10px;
    height: 10px;
    border-radius: 40px;
    background: #f14988;
    margin: -14px 0px 0 14px;
}

.fast2svx01{
    background: white;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.fast2svx02{padding: 10px;}

.fast2svx03{
    font-size: 16px;
    font-family: cest;
    color: #5a5a5a;
}

.fast2svx03s{
    color: #9e9e9e;
}

.csarc01{}

.csarc02{
    outline: none;
    resize: none;
    width: -webkit-fill-available;
    margin: 0 0 10px 0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 10px;
}

.csarc03{}

.csarc04{}

.csarc05{
    width: 230px;
    padding: 8px 0;
    font-size: 14px;
    font-family: 'cest';
    background: #e6e6e6;
    border: 0;
    border-radius: 5px;
}

.texe0x0wall01 {
    word-break: break-word;
}

.blusk0xnamedate05 {
    color: #5d5d5d;
}

.texe0x0wall02 {
    color: #000;
    font-family: 'cest';
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
}

.mocx_iconxx{
    float: right;
    margin: 3px 0 0 20px;
}

.mocx_iconxx1{
    width: 24px;
    height: 24px;
    color: #8392af;
}

.mocx_iconxx1:hover {
    color: #8c8c8c;
}

.nov_logo_vn{
    float: left;
    height: 34px;
    margin: -3px 0 0 0;
}

.nov_logo_vn1{
    font-size: 34px;
    font-family: 'cestix';
    color: #7c8cab;
}

.nov_logo_vn1:hover{
    color: #a7a7a7;
}

@font-face {
  font-family: "cestix";
  src: local("cestix"),
       url("logo.ttf"),
       url("logo.ttf");
}

.menust_hgef{
    width: 16px;
    height: 16px;
    margin: 0 2px -3px 0;
}

.vsv_md{
    margin: 0 0 10px 0;
}

.vsv_md1{
    padding: 6px 8px 10px 8px;
    border-bottom: 1px solid #e0e0e0;
}

.vsv_md2{
    font-size: 35px;
    font-family: 'face';
    color: #8392af;
}

.vsv_md3{
    width: 24px;
    height: 24px;
    float: right;
    margin: 2px 0 0 0;
    color: blueviolet;
}

.menust_hgefwww{
    width: 18px;
    height: 18px;
    float: right;
    margin: 0px 0 0 0;
}

@font-face {
  font-family: "face";
  src: local("face"),
       url("face.ttf"),
       url("face.ttf");
}

.info_you_isd{
    background: #fff;
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.info_you_isd1{
    text-align: center;
    padding: 100px 0;
}

.info_you_isd2{}

.info_you_isd3{
    width: 45px;
    height: 45px;
    color: #505050;
    margin: 0 0 10px 0;
}

.info_you_isd4{}

.info_you_isd5{
    color: #505050;
    font-size: 15px;
    font-family: 'cest';
}

.vc_infove{
    margin: 20px 0 0 0;
}

.vc_infove1{
    background: blanchedalmond;
    padding: 8px 0;
    margin: 0 150px;
    border-radius: 70px;
}

.vc_infove2{
    font-size: 15px;
    font-family: 'cest';
    color: crimson;
}


.tg_mob-friends{
    background: #fff;
    margin: 0 0 10px 0;
    height: 93px;
    border-radius: 5px;
}

.tg_mob-friends1{
    padding: 7px 0 0 0;
    height: 47px;
}

.tg_mob-friends2{
    float: left;
    position: relative;
    width: 90px;
    margin: 0 0 0 2%;
}

.tg_mob-friends3{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.tg_mob-friends4{
    float: left;
    position: relative;
    width: calc(100% - 255px);
    margin: 8px 0 0 0;
}

.tg_mob-friends5{
    width: calc(100% - 0px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tg_mob-friends6{
    font-size: 16px;
    font-family: 'cest';
    color: #3a3a3a;
}

.tg_mob-friends7{}

.tg_mob-friends8{}

.tg_mob-friends9{
    float: right;
    margin: 2px 10px 0 10px;
}

.tg_mob-friends10{
}

.tg_mob-friends11{
    width: 35px;
    height: 35px;
    color: cornflowerblue;
    cursor: pointer;
    margin: 19px 0 0 0;
}

.ni_friends{
    color: crimson;
    font-family: 'cest';
    font-size: 14px;
}

.friends6fd{
    font-size: 14px;
    color: crimson;
}

.friends6fd1{
    margin: 3px 0 0 0;
}

.mwssages_boxesxp_Box{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: #0000008c;
    height: 100%;
}

.mwssages_boxesxp_Box1{
    position: fixed;
    width: 100%;
    left: 0;
    top: 120px;
}

.mwssages_boxesxp{
    margin: 0 auto;
    width: 440px;
    background: #fff;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
}

.mwssages_boxesxp1{
    padding: 10px;
}

.ck_xmesaxz{
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 5px 0;
    padding: 0 0 4px 0;
}

.ck_xmesaxz1{
    font-size: 22px;
    font-family: 'cest';
}

.ClassMesagess{}

.mwssages_boxesxp2{
    width: -webkit-fill-available;
    height: 123px;
    padding: 10px;
    font-size: 13px;
    font-family: 'cest';
    outline: none;
    resize: none;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.ClassMesagess1{
    margin: 5px 0 0 0;
    height: 34px;
}

.historeMessagesvo{
    background: crimson;
    margin: 0 5px;
    width: 200px;
    padding: 7px 0;
    border: 0;
    color: #fff;
    font-family: 'cest';
    font-size: 15px;
    border-radius: 50px;
}

.historeMessagesvo1{
    background: cornflowerblue;
}

.Friends__add_mobilesq1{
    text-align: center;
    padding: 120px 10px;
}

.Friends__add_mobilesq2{
    font-size: 15px;
    font-family: 'cest';
    color: #636363;
}

.ClassMesagesswfgifwc{
    height: 205px;
    overflow: auto;
}

.limmovcss02 {
    width: 80px;
}

.limmovcss04 {
    text-align: center;
    padding: 5px 0 0 0;
}

.historeMessagesvoGiftpsddd{
    margin: 2px 8px;
    width: -webkit-fill-available;
}

.vvccd43rcxx{
    height: 180px;
}

.ddc21ac{
    margin: 10px 0 10px 0;
    font-size: 13px;
}

.menust_hgefwwwdx12{margin: 0 0 0 0;}

.ic0x {
    float: right;
    padding: 8px 0;
    width: 470px;
}

.inpsttcx{
    border-radius: 25px;
    width: 280px;
    padding: 10px 10px;
}

.bives07acf{
    margin: 0 0 10px 0;
}

.bives07acfd{
    margin: 0 0 12px 0;
}

.bives07acfd1{
    margin: 0 0 20px 0;
}

.bives07acfd2{
    width: 300px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 100;
    border-radius: 50px;
    background: #8392af;
    color: #fff;
}

.bives03dx3d{
    margin: 20px 0 14px 0;
}

.bives03dx3d1{
    font-size: 18px;
}

.ccccdecccccccccc{
    overflow: auto;
    height: 200px;
}

.scFriendsacaLikkesdsx {
    width: 74px;
    height: 74px;
    border-radius: 5px;
}

.cxxedxxxxxxxxx{
    padding: 55px 0;
}

.money_berd{
    text-align: center;
    background: #fff;
    border-radius: 5px;
}

.money_berd1{
    padding: 50px 0 10px 0;
}

.money_berd2{
    margin: 0 0 10px 0;
}

.money_berd3{
    width: 34px;
    height: 34px;
    color: burlywood;
}

.money_berd4{
    padding: 0 10px;
}

.money_berd5{
    font-size: 13px;
    font-family: 'cest';
    line-height: 25px;
}

.money_berd6{
    margin: 25px 0 0 0;
    padding: 0 10px;
}

.money_berd7{
    font-size: 13px;
    font-family: 'cest';
    line-height: 25px;
}

.money_berd4sd{}

.money_berd4sd1{
    font-size: 13px;
    font-family: 'cest';
    line-height: 25px;
    background: antiquewhite;
    margin: 10px 10px;
    padding: 7px 0;
    border-radius: 5px;
    color: chocolate;
}

.money_freedre{}

.money_freedre1{}

.money_freedre2{}

.money_freedre3{
    margin: 0;
}

.money_freedre4{
    width: calc(141% - 0px) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right !important;
    margin: 0 0;
}

.money_freedre5{
    width: calc(100% - 0px);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 5px 0 0 0;
}


.vvb_friend{
    height: 26px;
    padding: 10px 0px 2px 10px;
    background: #fff;
    margin: 10px 0;
    border-radius: 5px;
}

.vvb_friend1{}

.vvb_friend2{
    float: left;
}

.vvb_friend3{
    font-size: 14px;
    font-weight: bold;
    font-family: 'cest';
    color: #8392af;
}

.vvb_friend4{
    float: right;
}

.vvb_friend5{
    color: cornflowerblue;
    font-family: 'cest';
    font-size: 15px;
}

.vvb_friend6{
    margin: 0 10px 0 -5px;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

.icon_photoFx{
    float: left;
    margin: 11px 0 0 0;
}

.maads-hw2d{
    border: 1px solid #d4d4d4;
    height: 75px;
    border-radius: 100px;
}

.maads-hw2d1{
    padding: 10px;
}

.icon_photoFx1{}

.icon_photoFx_send{
    float: left;
    margin: 11px 5px 0 0;
}

.icon_photoFx_send1{}

.icon_photoFx_send2{
    border: 0;
    background: #fff;
    outline: none;
}

.icon_photoFx_send3{
    width: 30px;
    height: 30px;
    color: darkgrey;
}

.icon_photoFx_senddcxxx{
    margin: 0 5px 0 0 !important;
}

.icon_photoFx_senddcxxx1{}

.icon_photoFx_senddcxxx2{}

.icon_photoFx_senddcxxx3{
    width: 313px !important;
    height: 29px !important;
    border: 1px solid #ececec !important;
    border-radius: 5px !important;
    padding: 12px 12px !important;
}

.hmex0x03fvccccccdew{
    margin: 12px -3px 0 3px !important;
}

.xxss_photos{
    max-width: 100%;
    min-height: 100px;
    min-width: 100px;
    vertical-align: middle;
    max-height: 100vh;
}

.dcx_add_photo_view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1001;
}

.dcx_add_photo_view1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.x_close_dx_view_php{
    position: fixed;
    right: 0;
    z-index: 100000000;
    background: #000;
    width: 45px;
    padding: 10px 12px 7px 11px;
    cursor: pointer;
    top: 0;
}

.x_close_dx_view_php1{
    width: 50px;
    height: 50px;
    color: aliceblue;
}

.lodcofile{
    font-size: 15px;
}

.emov0x01 {
    height: 200px;
    background-size: cover !important;
    border-radius: 5px 5px 0 0;
}

.emov0x02 {
    padding: 150px 10px 0 10px;
}

.mb_zkd{
    background: #fff;
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.mb_zkd1{
    padding: 10px;
}

.vvc_mbFD{
    background: #e8e8e8 !IMPORTANT;
    color: #424242;
    border: 0;
    margin: 0 0 10px 0;
    padding: 8px 0 10px 20px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    font-family: sans-serif;
    border-radius: 50px;
    background: linear-gradient(
135deg
, #f14988 0%,#6a2065 100%);
    font-family: 'cest';
}

.vvc_mbFD1{width: 18px;height: 18px;margin: 0 5px -4px 0;}

.vvc_mbFDvc{
    background: #8392af;
    margin: 0;
}

.vvc_mbFDvc1{}

.vvc_mbFDvc2{
}

.ClassMesagessfcexpc{
    text-align: center;
    padding: 50px 10px;
}

.ClassMesagessfcexpc1{
    font-size: 13px;
    font-family: 'cest';
}

.cccccc_dombc0c{}

.cccccc_dombc0c1{
    width: 28px;
    height: 28px;
    color: crimson;
    margin: 2px 0 0 6px;
    cursor: pointer;
}

.scrgiftps {
    width: 43px;
    height: 43px;
    margin: 0 1px 5px 8px;
    float: left;
}

.mdx-xd-xd{
    margin: 0 0 -3px 0;
}

.nx00yg00xld01cxsx01dx{
    margin: 4px 0;
}

.nx00yg00xld01cxsx01dx1{
    font-size: 14px;
    color: #3a3a3a;
}

.nx00yg00xld01cxsx01dxwfc{
    margin: 0;
}

.datac0cx01dcx2fr{
    border: 0;
}