.mxx_xxx{margin: 0 2px 2px 4px;width: auto;float: left;border-bottom: 1px solid #dadada;}

.mxx_xxx1{
    padding: 6px 20px;
}

.mxx_xxx2{
}

.mxx_xxx3{}

.dIVclassosk{
    float: left;
    width: 269px;
    background: #fff;
    border-radius: 5px;
    margin: 0 2px 4px 2px;
}

.dIVclassosk1{
    padding: 10px;
}

.dIVclassosk2{
    text-align: center;
}

.dIVclassosk3{
    text-align: center;
    padding: 6px 0px 12px 0;
    width: calc(100% - 0px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0;
}

.dIVclassosk4{
    text-align: center;
}

.AvaClass0z{
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.nAMEcLASSCC{
    font-size: 14px;
    font-family: 'cest';    font-weight: bold;
    color: #000;
}

.SendMessages{
    background: slateblue;
    color: aliceblue;
    padding: 7px 0;
    border-radius: 50px;
}

.SendMessages1{
    margin: 0 4px -2px -2px;
}

.SendMessages2{
    font-size: 13px;
    font-family: 'cest';
}

.sxcXKXS{}

.sxcXKXS1{
    font-size: 16px;
    font-family: 'cest';    color: #dc143c;
    font-weight: bold;
}

.sxcXKXS2{}

.OXZS0XS{
    width: 60px;
    height: 60px;
    color: #8392af;
    margin: 0 10px -22px 0;
}

.newwrools{float: right;width: 60px;height: 340px;}

.newwrools1{
    position: fixed;
    width: 60px;
    height: 234px;
}

.newwroolsdd{
    width: 820px;
}

.newwroolsdd1{}

.menuoxpsdck{
    padding: 0;
}

.menuoxpsdck1{}

.icon_menust_xdds{
    text-align: center;
    margin: 10px 0 20px 0;
}

.icon_menust_xdds1{
    width: 20px;
    height: 20px;
    margin: 0 4px -4px 0;
}

.iconrighx{
    width: 18px;
    height: 18px;
    color: cornflowerblue;
    margin: 0 0 -4px 0;
}

.dIVclassosk1cover{
    height: 102px;
    background-size: cover !important;
    margin: 0 0 -60px 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.pc_verification{}

.pc_verification1{
    width: 17px;
    height: 17px;
    margin: 0 0 -4px 0;
    fill: cornflowerblue;
}

.ocrug_xcd{}

.xxxxcmty{
    height: 30px;
    margin: 0 0 12px 0;
    padding: 8px 0 14px 0;
    border-bottom: 1px solid #dcdcdc;
}

.xxxxcmtyqd{}

.sxcXKXS1ccc{
    width: 103px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-grid;
}

.mxx_xxxrigh{
    float: right;
    border-bottom: 1px solid #dadada;
}

.mxx_xxxrigh1{}

.mxx_xxxrigh2{}

.mxx_xxxrigh3{
    color: cornflowerblue;
}

.mrxc_hg{
    height: 37px;
    margin: 0 0 10px 0;
}

.mrxc_hg1{
    float: left;
    width: 79px;
    margin: 0 2px;
    text-align: center;
}

.mrxc_hg2{}

.mrxc_hg3{
    font-weight: bold;
    font-size: 15px;
    font-family: 'cest';}

.mrxc_hg4{}

.mrxc_hg5{
    font-size: 12px;
    font-family: 'cest';    font-weight: bold;
    color: #8e8e8e;
}

.SendMessages1dx{
    background: #edeef0;
    color: #5a5f69;
}

.ocrt_pc_nave{
    font-size: 14px;
    background: #8392af;
    margin: 0 5px;
    padding: 5px 24px 7px 24px;
    border-radius: 80px;
    color: aliceblue;
    font-family: 'cest';
    }

.ocrt_pc_navexx{
    background: #989898;
}

.noxNave01fdc{
    border-top: 1px solid #dcdcdc;
    padding: 6px 0 4px 0;
}

.noxNave01fdc1{}

.dIVclassosk4xs{
    margin: 5px 0 0 0;
}

.dIVclassosk4xs1{
    background: steelblue;
}

.view_mta{
    float: left;
    padding: 8px 18px 10px 12px;
    background: seagreen;
    border-radius: 5px;
    margin: 0 6px 0 0;
}

.view_mta1{}

.view_mta2{}

.view_mta3{
    font-size: 14px;
    color: #fff;
    font-family: 'cest';
}

.view_mta4{
    width: 20px;
    height: 20px;
    margin: 0 0 -4px 0;
}

.menust_xx_fc{
    float: right;
    margin: 0 0 0 0;
}

.menust_xx_fc1{}

.menust_xx_fc2{
    float: right;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    margin: 10px 10px 0 0;
}

.menust_xx_fc3{
    font-size: 12px;
    font-family: 'cest';    font-weight: bold;
    color: slategrey;
}

.menust_xx_fc4{
    float: right;
}

.menust_xx_fc5{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.historeMessagesvo {
    font-family: 'cest';}

.ClassMesagessfcexpc1 {
    font-family: 'cest';}

.ck_xmesaxz1 {
    font-family: 'cest';}

.mwssages_boxesxp2 {
    font-family: 'cest';}

.dIVclassosk4ccx{}

.dIVclassosk4ccx1{}

.leftvcc02dc{
    margin: 0 0 -4px 0;
}

.post_sd{
    background: #fff;
    padding:  10px;
    border-radius: 5px;
}

.post_sd1{}

.post_sd2{
    height: 240px;
    margin: 0 0 -54px 0;
}

.post_sd3{}

.post_sd4{
    text-align: center;
}

.post_sd5{
    width: 85px;
    height: 85px;
    border-radius: 50px;
}

.pc_name_profiles{
    text-align: center;
    margin: 2px 0 0 0;
}

.pc_name_profiles1{
    color: #000;
    font-family: 'cest';    font-size: 18px;
    font-weight: bold;
}

.pc_verification_css_profile{}

.pc_verification_css_profile1{
    width: 17px;
    height: 17px;
    margin: 0 0 -3px 0;
    fill: cornflowerblue;
}

.onlines_profiles{
    text-align: center;
    margin: 6px 0 0 0;
}

.onlines_profiles1{
    background: #e6e6e6;
    padding: 2px 10px;
    font-size: 12px;
    color: crimson;
    font-family: 'cest';    font-weight: bold;
    border-radius: 50px;
}

.my_profileccxe{
    float: left;
    width: 486px;
    margin: 10px 10px 0 0;
}

.my_profileccxe1{}

.my_profileccxexcccd{
    float: left;
    width: 324px;
    margin: 10px 0 10px 0;
}

.my_profileccxexcccd1{}

.nx00yg00xld01cxsx01dx1 {
    font-size: 13px;
    color: #505050;
    font-family: 'cest';    font-weight: bold;
}

.oc_hdz_Sc21a {
    border-radius: 50px;
    color: #000;
    margin: 0 0 8px 0;
}

.oc_hdz_Sc21a1{}

.oc_hdz_Sc21a2{
    font-family: 'cest';    font-size: 13px;
    font-weight: bold;
    padding: 5px 18px;
    background: #dedede;
    border-radius: 50px;
}

.ccvfdlx{
    margin: 0 0 10px 0;
}

.ccvfdlx1{}

.ccvfdlx2{}

.ccvfdlx3{
    font-family: 'cest';    font-size: 13px;
    font-weight: bold;
    padding: 5px 18px;
    background: #dedede;
    border-radius: 50px;
}

.lodcofile {
    font-size: 13px;
    font-family: 'cest';    font-weight: bold;
    padding: 8px 12px;
}

.vvc_mbFD {
    background: #e8e8e8 !IMPORTANT;
    color: #424242;
    border: 0;
    margin: 0 0 10px 0;
    padding: 8px 0 10px 20px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    border-radius: 50px;
    font-family: 'cest';}

.vvc_mbFD1 {
    width: 18px;
    height: 18px;
    margin: 0 5px -3px 0;
}


@font-face {
  font-family: "cest";
  src: local("cest"),
       url("cta.ttf") format("woff2"),
       url("cta.ttf") format("woff2");
}
