.oacxz01{
    margin: 0 auto;
    width: 460px;
}

.oacxz012{}

.oacxz013{
    background: #fff;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.oacxz014{
    padding: 10px;
}

.oacxz015{
    color: cornflowerblue;
    font-family: cest;
}

.oacxz016{
    background: #fff;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.oacxz017{
    padding: 10px;
    text-align: center;
}

.oacxz018{
    font-size: 14px;
    font-family: 'cest';
    line-height: 27px;
}

.fast2svx01{
    background: white;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.fast2svx02{padding: 10px;}

.fast2svx03{
    font-size: 16px;
    font-family: cest;
    color: #000;
}

.fast2svx03s{
    color: #9e9e9e;
}

.csarc01{}

.csarc02{
    outline: none;
    resize: none;
    width: -webkit-fill-available;
    margin: 0 0 10px 0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 10px;
}

.csarc03{}

.csarc04{}

.csarc05{
    width: 230px;
    padding: 8px 0;
    font-size: 14px;
    font-family: 'cest';
    background: #e6e6e6;
    border: 0;
    border-radius: 5px;
}

.texe0x0wall01 {
    word-break: break-word;
}

.blusk0xnamedate05 {
    color: #5d5d5d;
}

.texe0x0wall02 {
    color: #000;
    font-family: 'cest';
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
}