{% extends 'quizzes/base.html' %}
{% load static %}

{% block title %}
Вход в систему
{% endblock %}

{% block content %}
<div class="div_content">
	<div class="div_content1" id="page">
		
		<div class="sff">
	<div class="sff1">
		<div class="bllaword">
			<div class="bllaword1">
				<div class="klodes">
					<name class="klodes1">Войти</name>
				</div>	
					
				<form method="post" id="authorization" action="/">
					{% csrf_token %}
					<div class="kb_oof">
						{{ form.username }}

<!--						<input type="text" name="email" id="log_email" maxlength="50" class="kb_oof1" placeholder="E-mail" required="">-->
					</div>	
						
					<div class="kb_oof">
						{{ form.password }}
<!--						<input type="password" name="password" id="log_password" maxlength="50" class="kb_oof1" placeholder="Пароль" required="">-->
					</div>
				
					<div class="kb_oof2">
						<button class="kb_oof3" name="log_in" id="login_but">Войти</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<meta property="og:image" content="/imag/fones.jpg">
<meta name="description" content="Сервис для создание креативных контентов и получение крупной популярности.">
	</div>
</div>
{% endblock %}