<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	

<head>
    
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="ads/system/context.js" async=""></script>

	
	<title>Войти</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	
	<link media="screen" href="css/dex-1.css?1639423032" type="text/css" rel="stylesheet">
	<link media="screen" href="css/dex.2.1-1.css?1639423032" type="text/css" rel="stylesheet">
	<link media="screen" href="css/dex.2.2-1.css?1639423032" type="text/css" rel="stylesheet">
	<link media="screen" href="css/dex.2.3-1.css?1639423032" type="text/css" rel="stylesheet">
	<link media="screen" href="css/bost/login-1.css?1639423032" type="text/css" rel="stylesheet">
	<link media="screen" href="css/bost/head-1.css?1639423032" type="text/css" rel="stylesheet">
	<meta name="google" content="notranslate">

	<link rel="icon" type="image/png" sizes="32x32" href="imag/fav.png">
	
		<script type="text/javascript" src="js/jquery.lib-1.js?1639423032"></script>
		<script type="text/javascript" src="js/Russian/lang-1.js?1639423032"></script>
		<script type="text/javascript" src="js/main-1.js?1639423032"></script>
</head>

<body>
<div class="head_pc_over">
	<div class="head_pc_over1">
		<a href="index.htm">
			<div class="logo_bewer">
				<div class="logo_bewer1"></div>
			</div>	
		</a>
		
		<div class="lef_bewer">
			<a href="register_is.html">
				<div class="lef_bewer1">Регистрация</div>
			</a>
		</div>

		<div class="lef_bewer">
			<a href="login_is.html">
				<div class="lef_bewer1">Войти</div>
			</a>
		</div>
	</div>
</div>

<div class="div_content">
	<div class="div_content1" id="page">
		
		<div class="sff">
	<div class="sff1">
		<div class="bllaword">
			<div class="bllaword1">
				<div class="klodes">
					<name class="klodes1">Войти</name>
				</div>	
					
				<form method="post" id="authorization" action="/">
					<div class="kb_oof">
						<input type="text" name="email" id="log_email" maxlength="50" class="kb_oof1" placeholder="E-mail" required="">
					</div>	
						
					<div class="kb_oof">
						<input type="password" name="password" id="log_password" maxlength="50" class="kb_oof1" placeholder="Пароль" required="">
					</div>
				
					<div class="kb_oof2">
						<button class="kb_oof3" name="log_in" id="login_but">Войти</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<meta property="og:image" content="/imag/fones.jpg">
<meta name="description" content="Сервис для создание креативных контентов и получение крупной популярности.">
	</div>
</div>

<script src="//ulogin.ru/js/ulogin.js"></script>
</body>
</html>